<%= content_for :big_header do %>

<div class="page-header">
  <h1>Welcome to Comedy Hub <small>Your source to find every comedian in New York</small></h1>
</div>


  <img class="huge-image" src="http://www.flickr.com/photos/zooboing/4183276522/in/set-72157624157169304/lightbox/">
<%- end -%>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
